

h1{ /*para estilizar as tags*/
    font-size: xx-large;
   
}

.flex-container{ /*para estilizar classes*/
    display: flex;
    margin: 0;
    /*width: 0;*/
    padding: 0;
}

.horizontal{
    flex-direction: row;
    justify-content: center;
}
.centralizado{
    justify-content: center;
}

.vertical{
    flex-direction: column;
 
   
}
.esquerda{
    width: 50%;
    float: left;
    
}

.direita{
    width: 50%;
    float: right;
}

.quebraConteudo{
    flex-direction: column;
}

/*
#id{ /*para estilizar id's

}
*/

