

h1{ /*para estilizar as tags*/
    font-size: xx-large;
   
}

.bannerEimagemInicial{ /*para estilizar classes*/
    align-self: center;
}

.conto1 {
    align-self: flex-start;
}

.conto2 {
    align-self: flex-end;
}

/*
#id{ /*para estilizar id's

}
*/

